page-login {
  .err {
    text-align: center;
    font-size: 14px;
    background: rgba(204, 204, 204, 0.5);
  }

  .link-registration {
    text-align: center;
    text-decoration: underline;
  }
  .bg-image {
    background: url(../assets/img/bg.jpg) no-repeat center;
    background-size: cover;
  }

  ion-item.item-md, ion-item.item-ios {
    background-color: transparent;
  }

  .text-input-md, .text-input-ios {
    margin: 8px;
  }

  .login-btn {
    padding: 0 16px 7px;
  }

  .btn {
    width: 47.9%;
    font-size: 0.9em;
  }

  .btn.grey {
    background-color: #ccc;
    color: #000;
  }

  button {
    font-weight: bold;
  }

  ion-footer {
    background-color: rgba(0,0,0,0.5);
    padding-top: 15px;;
  }
  .link-banner{ display: none; }
}
