<!--
  Generated template for the Arena page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>edit-profile</ion-title>
    </ion-navbar>
    <!--<ion-title><button></button><ion-icon name="arrow-round-back"></ion-icon></button></ion-title>-->
</ion-header>

<ion-content>
    <div class="no_results" *ngIf="users?.length == 0">No Results</div>
    <!-- <div padding>
       <p>This is the place where you can learn who liked your photo on The Arena.</p>
       <p>If someone you like likes you back - both of you will receive a Bingo! notification.</p>
     </div>-->
    <!--<div class="wrap" >
      <span *ngIf="notifications > 0" class="inbox_count counter">{{ notifications }}</span>
      <button (click)="toNotifications()" class="notifications_btn" ion-button item-right icon-left>
        <ion-icon id="notifications"></ion-icon>
        Notifications
      </button>
  </div>-->
    <ion-slides ng-if="true" freeMode="true" loop="true" #slider (ionSlideDidChange)="slideChanged($event)">
        <ion-slide *ngFor="let user of users">
            <ion-card *ngIf="user?.imageId">
                <div class="clr"></div>
                <div class="pop_title"><span tappable (click)="toProfile()">{{user?.nickName}},</span> {{user?.age}},
                    {{user?.area}}
                </div>
                <div class="avatar"
                     [ngStyle]="{ 'background-image': 'url(' + imagePath + '/'+ user?.imageId +'.'+user?.imageExt+ ')'}"></div>
            </ion-card>
        </ion-slide>

    </ion-slides>
    <div *ngIf="users?.length > 0" class="buttons">
        <img src="assets/img/icons/redthumb.png" class="like-red" tappable (click)="goToSlide('dislike')">
        <img src="assets/img/icons/pmsg.png" (click)="toDialog()" tappable id="send-msg">
        <img src="assets/img/icons/thumbgreen.png" id="heart-green" tappable (click)="goToSlide('like')">
    </div>
</ion-content>
<ion-footer>

    <ion-navbar>
        <ion-title></ion-title>
    </ion-navbar>

</ion-footer>
