page-inbox {
  .message {
    min-height: 50px;
  }
  .gray-bg {
    background: #ccc
  }
  .usr_img {
    width: 90px;
    height: 90px;
  }
  .counter {
    clear: both;
    margin-top: 30px;
    font-size: 16px;
    left: auto;
    right: 20px;
  }
  ion-card {
    position: relative;
  }
}
