<ion-header>
    <!--[ngClass]="{'padding-top':api.iosVersion}"-->
    <ion-navbar>
        <div left tappable menuToggle class="menu-btn">
            <button>
                <ion-icon id="menu"></ion-icon>
            </button>
        </div>
        <div class="socials right">
            <div tappable class="social" (click)="goTo('https://www.facebook.com/dating4d/')">
                <img src="https://m.dating4disabled.com/images/facebook.png">
            </div>
            <div tappable class="social" (click)="goTo('https://twitter.com/Dating4D')">
                <img src="https://m.dating4disabled.com/images/twitter.png">
            </div>
        </div>

        <button (click)="homePage()" class="logo"><img src="assets/img/icons/logo.png" alt="sugardaddy"></button>
    </ion-navbar>
</ion-header>

<ion-menu [content]="content" class="side-menu" id="menu1">
    <ion-content>
        <ion-list>
            <ion-icon *ngIf="is_login" class="settings" name="settings" tappable (click)="menu2Active()"></ion-icon>
            <div tappable (click)="openPage(menu_items_settings[1])" class="profile" *ngIf="is_login"
                 [ngStyle]="{ 'background-image': 'url(' + avatar + ')'}"></div>
            <div *ngIf="is_login" tappable (click)="openPage(menu_items_settings[2])" class="username">{{ username }}
            </div>
            <div *ngFor="let menu_item of menu_items">
                <button *ngIf="(menu_item._id == 'subscription' && is_payed == 0) || menu_item._id != 'subscription'" ion-item tappable (click)="openPage(menu_item)">
                    <ion-icon id="{{menu_item._id}}" name="{{menu_item.icon}}"></ion-icon>
                    {{menu_item.title}}
                    <ion-icon class="contact-arrow" *ngIf="menu_item._id == 'stats'" ios="ios-arrow-forward"
                              md="ios-arrow-forward"></ion-icon>
                    <ion-badge class="btn-orange" *ngIf="is_login && menu_item.count != 0" item-right>{{ menu_item.count
                        }}
                    </ion-badge>
                </button>
            </div>
            <div class="socials-list">
                <div tappable class="twitter" (click)="goTo('https://twitter.com/Dating4D')">
                    <img src="https://m.dating4disabled.com/images/twitter.png">
                </div>
                <div tappable class="facebook" (click)="goTo('https://www.facebook.com/dating4d/')">
                    <img src="https://m.dating4disabled.com/images/facebook.png">
                </div>
                <div tappable class="instagram" (click)="goTo('https://www.instagram.com/dating4disabled/')">
                    <img src="https://m.dating4disabled.com/images/instagram.png">
                </div>
                <div tappable class="pinterest" (click)="goTo('https://www.pinterest.com/dating4disabled/')">
                    <img src="https://m.dating4disabled.com/images/pinterest.png">
                </div>
                <div tappable class="telegram" (click)="goTo('https://t.me/dating4disabled')">
                    <img src="https://m.dating4disabled.com/images/telegram.png">
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-menu (ionOpen)="removeBackground()" (ionClose)="menu1Active(false)" tappable (click)="menuCloseAll()"
          [content]="content"
          class="side-menu" id="menu2">
    <ion-content>
        <ion-list>
            <button color="light" small class="right" ion-button icon-right outline menuClose="menu2" tappable
                    (click)="menu1Active()">
                <ion-icon name="arrow-back"></ion-icon>
                {{ back }}
            </button>
            <button ion-item *ngFor="let menu_item_settings of menu_items_settings" tappable
                    (click)="openPage(menu_item_settings)">
                <ion-icon id="{{menu_item_settings._id}}" name="{{menu_item_settings.icon}}"></ion-icon>
                {{menu_item_settings.title}}
            </button>
        </ion-list>
    </ion-content>
</ion-menu>


<ion-menu (ionOpen)="removeBackground()" (ionClose)="menu1Active(false)" tappable (click)="menuCloseAll()"
          [content]="content"
          class="side-menu" id="menu3">
    <ion-content>
        <ion-list>
            <!--<div class="statistics">{{ stats }}</div>-->
            <button color="light" small class="right" ion-button icon-right outline menuClose="menu3" tappable
                    (click)="menu1Active()">
                <ion-icon name="arrow-back"></ion-icon>
                {{ back }}
            </button>
            <button ion-item *ngFor="let menu_item_contact of menu_items_contacts" tappable
                    (click)="openPage(menu_item_contact)">
                <ion-icon id="{{menu_item_contact._id}}" name="{{menu_item_contact.icon}}"></ion-icon>
                {{menu_item_contact.title}}
                <ion-badge *ngIf="is_login && menu_item_contact.count != 0" item-right>{{ menu_item_contact.count }}
                </ion-badge>
            </button>
        </ion-list>
    </ion-content>
</ion-menu>
<a target="_blank" class="link-banner"  *ngIf="api.banner && api.banner?.src != '' && is_login && alowedPages.indexOf(api.pageName) != -1" href="{{api.banner?.link}}" tappable (click)="goTo(api.banner.link,'_blank');">
    <img class="banner" src="{{api.banner?.src}}">
</a>
<ion-footer *ngIf="is_login && api.showFooter" (swipe)="swipeFooterMenu()">
    <div *ngIf="new_message" class="messageNotify">
        <ion-icon tappable (click)="closeMsg()" name="close"></ion-icon>
        <div class="avatar" tappable (click)="dialogPage()"
             [ngStyle]="{ 'background-image': 'url(' + new_message?.mainPhoto + ')'}"></div>
        <div class="content" tappable (click)="dialogPage()">
            <div class="name">{{ new_message.username }}</div>
            <div class="text">{{ new_message.newMessagesText }}</div>
        </div>
    </div>
    <div class="footerMenu" position="bottom">
        <div class="footer-menu">
            <ul class="menu-one">
                <li class="{{menu_item_footer1._id}}" *ngFor="let menu_item_footer1 of menu_items_footer1" tappable
                    (click)="openPage(menu_item_footer1)">
                    <span *ngIf="is_login &&  menu_item_footer1.count != 0 " class="inbox_count">{{ menu_item_footer1.count }}</span>
                    <ion-icon name="{{menu_item_footer1.icon}}"></ion-icon>
                    <img class="{{menu_item_footer1._id}}" src="{{menu_item_footer1.src_img}}">{{menu_item_footer1.title}}
                </li>
                <li tappable (click)="swipeFooterMenu()" class="more-btn menu-left">
                    <ion-icon large name="md-more"></ion-icon>
                </li>
            </ul>
            <ul class="menu-two">
                <li *ngFor="let menu_item_footer2 of menu_items_footer2" tappable (click)="openPage(menu_item_footer2)">
                    <ion-icon name="{{menu_item_footer2.icon}}"></ion-icon>
                    <span *ngIf="is_login && menu_item_footer2.count != 0" class="inbox_count white">{{ menu_item_footer2.count }}</span>
                    <img class="{{menu_item_footer2._id}}" src="{{menu_item_footer2.src_img}}">{{menu_item_footer2.title}}
                </li>
            </ul>
        </div>
    </div>
</ion-footer>

<ion-nav [root]="rootPage" #content swipeBackEnabled="true"></ion-nav>


