page-select {
  ion-header{
    background-color: #214888;
  }
  .bar-button-default{
    color: #fff;
  }
  ion-content.content{
    background-color: #eee;
  }
  .bar-buttons {
    margin-top: 0;
  }
  ion-item.item{
    background-color: #eee;
    border-top: 1px solid #c8c7cc;
    border-bottom: 1px solid #c8c7cc;
  }
  .toolbar-background{
    background-color: transparent;
  }

  .list.list-md, .list.list-ios{
    border-top: 2px #c8c7cc solid;
    border-bottom: 2px #c8c7cc solid;
    padding-bottom: 0px;
    margin-top: 0px;
  }
  .toolbar-title{
    color: #DA6000;
  }
  .toolbar ion-title{
    padding: 0 60px 0px;
  }
  .link-banner{ display: none; }
  .toolbar ion-title {
    left: 0;
    top: 0;
    padding: 0 90px 1px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    pointer-events: none;
  }
  .toolbar-title {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    pointer-events: auto;
  }
  .toolbar-md{
    min-height: 10px;
  }
  .searchbar-md .searchbar-input {
    padding: 6px 35px;
    border-radius: 5px;
    line-height: 2rem;
  }
  .searchbar-md .searchbar-search-icon {
    left: 9px;
    top: 7px;
  }
}
