page-change-photos {
  .clr{
    clear: both;width: 100%;height: 1px;
  }
  .photo {
    width: calc(33.333% - 15px);
    box-sizing: border-box;
    border-radius: 2px;
    float: left;
    height: 100px;
    margin: 5px;
  }

  .photo-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }

  .wrap {
    background-color: #fff;
    position: relative;
    height: calc(100% - 20px);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 3px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  .main {
    width: calc(66.666% - 20px);
    height: 210px;
   }

  .remove, .add {
    position: absolute;
    height: 20px;
    width: 20px;
    right: -6px;
    bottom: -2px;
    color: red;
    background: white;
    font-size: 14px;
    line-height: 20px;
    border-radius: 10px;
    z-index: 9999;
    text-align: center;
    font-weight: bold;
  }

  .add {
    color: white;
    background: red;
  }



}
